:root {
    --color-purple-50: hsl(260, 100%, 95%);
    --color-purple-300: hsl(264, 82%, 80%);
    --color-purple-500: hsl(263, 55%, 52%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-100: hsl(214, 17%, 92%);
    --color-grey-200: hsl(0, 0%, 81%);
    --color-grey-400: hsl(224, 10%, 45%);
    --color-dark-blue: hsl(217, 19%, 35%);
    --color-black: hsl(0, 0%, 7%);

    --font-size: 13px;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--color-grey-400);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #edf2f8;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-size: var(--font-size);
    color: var(--color-white);
}

.container {
    width: 1260px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 300px 300px;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.post {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.profil {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.title{
    color: var(--color-grey-400);
    opacity: 0.8;
}

.name{
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.6;
}

.desc{
    font-size: 1.2rem;
    font-weight: 500;
}

.quotes{
    line-height: 1.7;
    font-weight: 300;
    color: var(--color-grey-400);
    opacity: 0.9;
}

.daniel-clifford {
    background: var(--color-purple-500);
    grid-area: 1/1/2/3;
}

.daniel-clifford .title{
    color: var(--color-white);
    opacity: 0.4;
}

.johnson-walters {
    background: var(--color-dark-blue);
    grid-area: 1/3/2/4;
}

.jeannette-hamon {
    background: white;
    grid-area: 2/1/3/2;
    color: var(--color-black);
}

.patrick-abrams {
    color: var(--color-white);
    grid-area: 2/2/3/4;
    background: var(--color-black);
}

.patrick-abrams .title{
    color: var(--color-white);
    opacity: 0.4;
}

.kira-whittle {
    grid-area: 1/4/3/5;
    color: var(--color-black);
    background: white;
}

.post img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 950px) {
    body{
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 8px;
        align-items: center;
    }

    .container{
        width: 300px;
        height: auto;
        margin-top: 30px;
        padding: 20px;
        grid-template-columns: 320px;
        grid-template-rows: repeat(8, 230px);
        gap: 20px;
    }
     
    .post{
        padding: 10px 20px 10px 20px;
    }

    .desc{
        font-size: 1.3rem;
    }

    .quotes{
        line-height: 1.5;
        font-size: 0.8rem;
    }

    .daniel-clifford{
        grid-area: 1/1/3/2;
    }

    .johnson-walters{
        grid-area: 3/1/4/2;
    }

    .jeannette-hamon{
        grid-area: 4/1/5/2;
    }

    .patrick-abrams{
        grid-area: 5/1/7/2;
    }

    .kira-whittle{
        grid-area: 7/1/9/2;
    }
}